

 section {
    position: absolute;
    top:5rem;
    left:0;
    right:0;
    z-index: -1;
}
 section h3{
   display: flex;
   align-items: center;
   justify-content: center;
    margin:1rem 1rem;
    font-size: 1.5rem;
    
}
section h3 span{
    width: 9rem;
    align-items: center;
    border-bottom:2px solid rgb(23, 20, 16);
    background-color: orange;
    padding: 5px;
    border-radius: 0.8rem;
   
}
section .tip1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    align-items: baseline;

}
 section .tip1 .winter{
    background-color: rgba(255, 166, 0, 0.662);
    color:white;
    padding:1.5rem 1.5rem;
    border-radius:.5rem;
    width:30rem;
    margin:0 0.1rem;
    height:13rem;
}
 section .tip1 .winter h4{
    font-size: 1.4rem;
}
 section .tip1 .winter ul li{
    font-size:1.2rem;
    line-height:1.4rem;
}
 section .tip1 .summer{
    background-color: rgba(255, 166, 0, 0.662);
    color:white;
    padding:1.5rem 1.5rem;
    border-radius:.5rem;
    margin:1rem 0.1rem;
    width:30rem;
    height:13rem;

}
 section .tip1 .summer h4{
    font-size: 1.4rem;
}
 section .tip1 .summer ul li{
    font-size:1.2rem;
    line-height:1.4rem;
}

 section .tip2{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

}
 section .tip2 .monsoon{
    background-color: rgba(255, 166, 0, 0.662);
    color:white;
    padding:1.5rem 1.5rem;
    border-radius:.5rem;
    width:30rem;
    height:15rem;
    margin:0 0.1rem;
}
 section .tip2 .monsoon h4{
    font-size: 1.4rem;
}
 section .tip2 .monsoon ul li{
    font-size:1.2rem;
    line-height:1.4rem;
}
 section .tip2 .covid{
    background-color: rgba(255, 166, 0, 0.662);
    color:white;
    padding:1.5rem 1.5rem;
    border-radius:.5rem;
    margin:1rem 0.1rem;
    width:30rem;
    height:16rem;

}
 section .tip2 .covid h4{
    font-size: 1.4rem;
}
 section .tip2 .covid ul li{
    font-size:1.2rem;
    line-height:1.4rem;
}



















@media(max-width:850px){
    body header #nav-bar {
        position:absolute;
        top:-100rem;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        background-color: white;
        margin:0;
        transition: 0.2s linear;
    }
    body header .active1{
        position:absolute;
          top:5rem;
    }
    body header nav a {
        padding:0.7rem 0;
    }
    body header #responsive{
        display: inline-block;
    }
     section .div1 #h31{
        width:12rem;
    }
     section .tip1{
        flex-wrap: wrap;
        margin:2rem 0.5rem;
    }
     section .tip1 .winter h4{
        font-size: 1.2rem;
    }
     section .tip1 .winter ul li{
        font-size:1rem;
    }
     section .tip1 .summer h4{
        font-size: 1.2rem;
    }
     section .tip1 .summer ul li{
        font-size:1rem;
    }
     section .tip2{
        flex-wrap: wrap;
        margin:2rem 0.5rem;
    }
     section .tip2 .monsoon h4{
        font-size: 1.2rem;
    }
     section .tip2 .monsoon ul li{
        font-size:1rem;
    }
     section .tip2 .covid h4{
        font-size: 1.2rem;
    }
     section .tip2 .covid ul li{
        font-size:1rem;
    }
}
@media(max-width:445px){
    body header .logo{
        margin:1.8rem 0.3rem;
    }
    body header .logo span{
        font-size: 1rem;
        padding:0.4rem 0.4rem;
        margin:0;
        word-spacing: 0.1rem;
    }
    body header #responsive{
        margin:1.5rem 0.2rem;
    }
    body header #responsive:hover{
        border:none;
    }
}