

main section #home{

    background-image: url("bgm.jpg"); 
    background-size: 100%; 
   
    padding-top: 20px;
    justify-content: space-between;
    height: 700px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-position: center;
    background-size: cover;
    opacity:2;
    z-index: -1;
}

body header .logo{
    margin:1.7rem 1rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;
}
body header .logo span{
    background-color: rgb(254, 191, 75);
    border:2px solid orange;
    padding:0.7rem 0.7rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    font-weight: 700;
    color:white;
    font-size: 1.5rem;
    box-shadow: 2px 2px 10px inset orange;
}
body header .logo span:hover{
    cursor: pointer;
    color:black;
}
body header nav {
     margin:1.7rem 2rem;
}
body header nav a{
    margin:0 1rem;
    text-decoration: none;
    color:rgb(33, 33, 33);
    font-size: 1.2rem;
    border-bottom:2px solid #eee;
    padding:0.1rem 0;
}
body header nav a:hover{
   border-color: orange;
   color:orange;
}
body header #responsive{
    margin:1.7rem 2rem;
    padding:0.5rem 0.5rem;
    background-color: #e9e9e9;
    border: 2px solid #e9e9e9;
    border-radius:0.5rem;
    color:black;
    box-shadow:2px 2px 3px inset rgb(170, 170, 170);
    color:black;
    display: none;
}
body header #responsive:hover{
    background-color: rgb(254, 191, 75);
    color:white;
    cursor:pointer;
}

main section{ 
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
    top:5rem;
    height:40rem;
  /* background-color: black; */
  background-image: url("bgm.jpg");  
  padding-top: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-position: center;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}


main section h1{
    color:white;
    text-transform: capitalize;
  
    margin:0 0.4rem;
}
main section .div1{
    padding:0.5rem 2.5rem;
    text-align: center;
    color:black;
    text-transform: capitalize;
    margin-bottom: 40px;
}
main section .div1 h3{
     padding:0.5rem 0.5rem;
     
}
main section .div1 #h31{
    width:20rem;
    background-color: rgba(139, 133, 133, 0.405);
    border-radius: 0.5rem;
}

main section .content h1{
    margin-bottom: 20px;
}

 section .div1 #h32{
    background-color:  rgba(139, 133, 133, 0.405);
    border-radius:0.5rem;
}
 section #button1{
   background-color: orange;
   padding:0.5rem 1rem;
   border-radius:0.5rem;
   color:white;
   text-decoration: none;
   font-weight: 600;
   border:1px solid black;
   position: relative;
   top:1rem;
}
 section #button1:hover{
    color:black;
}







@media(max-width:850px){
    body header #nav-bar {
        position:absolute;
        top:-100rem;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        background-color: white;
        margin:0;
        transition: 0.2s linear;
    }
    body header .active1{
        position:absolute;
          top:5rem;
    }
    body header nav a {
        padding:0.7rem 0;
    }
    body header #responsive{
        display: inline-block;
    }
     section .div1 #h31{
        width:12rem;
    }
}
@media(max-width:445px){
    body header .logo{
        margin:1.8rem 0.3rem;
    }
    body header .logo span{
        font-size: 1rem;
        padding:0.4rem 0.4rem;
        margin:0;
        word-spacing: 0.1rem;
    }
    body header #responsive{
        margin:1.5rem 0.2rem;
    }
    body header #responsive:hover{
        border:none;
    }
}