body,html{
  padding:0;
  margin:0;
  text-decoration: none;
  background-color: #eee;
}
body header{
  position: sticky;
top: 0;
  height:5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:black;
  text-align: center;
  background-color: #eee;
}
body header .logo{
  margin:1.7rem 1rem;
  text-transform: capitalize;
 word-spacing: 0.2rem;
}
body header .logo span{
  background-color: rgb(254, 191, 75);
  border:2px solid orange;
  padding:0.7rem 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  font-weight: 700;
  color:white;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px inset orange;
}
body header .logo span:hover{
  cursor: pointer;
  color:black;
}
body header nav {
   margin:1.7rem 2rem;
}
body header nav a{
  margin:0 1rem;
  text-decoration: none;
  color:rgb(33, 33, 33);
  font-size: 1.2rem;
  border-bottom:2px solid #eee;
  padding:0.1rem 0;
}
body header nav a:hover{
 border-color: orange;
 color:orange;
}
body header #responsive{
  margin:1.7rem 2rem;
  padding:0.5rem 0.5rem;
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  border-radius:0.5rem;
  color:black;
  box-shadow:2px 2px 3px inset rgb(170, 170, 170);
  color:black;
  display: none;
}
body header #responsive:hover{
  background-color: rgb(254, 191, 75);
  color:white;
  cursor:pointer;
}
#responsive2{
  display: none;
}
@media screen and (max-width:848px) {
  #responsive2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
  }
  
}